<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Stock</title>
</head>
<body>
    <%- include('./link/navbar-login') %>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col-12">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Image</th>
                            <th scope="col">Chart</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(el => { %>
                                <tr>
                                <td style="vertical-align: middle"><%= el.name %></td>
                                <td style="vertical-align: middle"><%= rupiahformatter(el.price) %></td>
                                <td style="vertical-align: middle">
                                    <img width="200px" src="<%= el.imageUrl %>" >

                                </td>
                                <td>
                                    <canvas id="<%= el.name %>"></canvas>
                                </td>
                                <td style="vertical-align: middle">
                                    <a href="" class="btn btn-success"> BUY</a>
                                </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
        <div class="row align-items-start">
            <div class="col-6">
                <div class="card-body">
                    <% data.forEach(el => { %>
                        <canvas id="<%= el.name %>"></canvas>
                    <% }) %>
                </div>
            </div>
        </div>

    </div>


        <div id="data" hidden><%= string %></div>

    </div>
    <%- include('./link/boostrap') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        const data = JSON.parse(document.getElementById('data').innerText)
        
        data.forEach(el => {
            const ctx = document.getElementById(el.name)
            x = el.HistoryPrices.map(el => el.price).reverse()
            y = el.HistoryPrices.map(el => new Date(el.date).toLocaleDateString('id-ID', {year: 'numeric', month: 'long'})).reverse()    
            console.log(x);
                    new Chart(ctx, {
                      type: 'line',
                      data: {
                        labels: y,
                        datasets: [{
                          label: '# Prices in IDR',
                          data: x,
                          borderWidth: 2
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
        });

      </script>
</body>
</html>